.coupon-input {
  align-items: center;
  display: flex;
  height: 70px;
}

.coupon-input .icon {
  margin: 0 14px 0 16px;
  min-width: 30px;
  height: 30px;
  width: 30px;
}

.coupon-input input {
  border-top-left-radius: 10px;
  transition: all 0.4s ease;
  overflow: hidden;
  padding: 0 14px;
  font-size: 14px;
  outline: none;
  border: none;
  height: 70px;
  flex: 1;
}

.coupon-input input::placeholder {
  color: rgba(0,0,0, 0.65);
}

.coupon-input input:focus {
  background-color: rgba(0,0,0, 0.05);
}

.coupon-input.invalid input,
.coupon-input.invalid input:focus,
.coupon-input.invalid input::placeholder {
  background-color: rgba(244, 67, 54, 0.2);
  color: #F44336;
}

.coupon-input.invalid .icon {
  fill: #F44336;
}